@model int
<a href="@Url.Content("~/cart/")"><i class="lnr lnr-cart"></i><span class="my-cart"><span class="total-pro" id="cart-status">@Model</span></span></a>
<ul class="ht-dropdown cart-box-width">
    <li>
        <!-- Cart Box Start -->
        <div class="single-cart-box">
            <div class="cart-img">
                <a href="#"><img src="~/img/products/1.jpg" alt="cart-image"></a>
                <span class="pro-quantity">1X</span>
            </div>
            <div class="cart-content">
                <h6><a href="#">تی شرت زنانه طرح بیلی </a></h6>
                <span class="cart-price">150,000</span>
                <span>سایز: S</span>
                <span>رنگ: زرد</span>
            </div>
            <a class="del-icone" href="#"><i class="ion-close"></i></a>
        </div>
        <!-- Cart Box End -->
        <!-- Cart Box Start -->
        <div class="single-cart-box">
            <div class="cart-img">
                <a href="#"><img src="~/img/products/2.jpg" alt="cart-image"></a>
                <span class="pro-quantity">1X</span>
            </div>
            <div class="cart-content">
                <h6><a href="#">تی شرت زنانه</a></h6>
                <span class="cart-price">45,000</span>
                <span>سایز: XL</span>
                <span>رنگ: سبز</span>
            </div>
            <a class="del-icone" href="#"><i class="ion-close"></i></a>
        </div>
        <!-- Cart Box End -->
        <!-- Cart Footer Inner Start -->
        <div class="cart-footer">
            <ul class="price-content">
                <li>قیمت <span>200,000 تومان</span></li>
                <li>تخفیف <span>5,000 تومان</span></li>
                <li>قیمت نهایی <span>195,000 تومان</span></li>
            </ul>
            <div class="cart-actions text-center">
                <a class="cart-checkout" href="@Url.Content("~/cart/index")">پرداخت</a>
            </div>
        </div>
        <!-- Cart Footer Inner End -->
    </li>
</ul>