@{
    ViewData["Title"] = "سبد خرید";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li><a href="@Url.Content("~/home/index")">خانه</a></li>
                <li class="active"><a href="#">سبد خرید</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="cart-main-area ptb-30 ptb-sm-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <!-- Form Start -->
                <form action="#">
                    <!-- Table Content Start -->
                    <div class="table-content table-responsive mb-45">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">تصویر</th>
                                    <th class="product-name">عنوان محصول</th>
                                    <th class="product-price">قیمت</th>
                                    <th class="product-quantity">تعداد</th>
                                    <th class="product-subtotal">قیمت نهایی</th>
                                    <th class="product-remove"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="#"><img src="~/img/products/13.jpg" alt="cart-image" /></a>
                                    </td>
                                    <td class="product-name"><a href="#">محصول کد 14</a></td>
                                    <td class="product-price"><span class="amount">10,000</span></td>
                                    <td class="product-quantity"><input type="number" value="1" /></td>
                                    <td class="product-subtotal">10,0000</td>
                                    <td class="product-remove"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                </tr>
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="#"><img src="~/img/products/23.jpg" alt="cart-image" /></a>
                                    </td>
                                    <td class="product-name"><a href="#">محصول کد 15</a></td>
                                    <td class="product-price"><span class="amount">5000</span></td>
                                    <td class="product-quantity"><input type="number" value="1" /></td>
                                    <td class="product-subtotal">5000</td>
                                    <td class="product-remove"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Table Content Start -->
                    <div class="row">
                        <!-- Cart Button Start -->
                        <div class="col-md-8 col-sm-12">
                            <div class="buttons-cart">
                                <a href="#">ادامه خرید</a>
                            </div>
                        </div>
                        <!-- Cart Button Start -->
                        <!-- Cart Totals Start -->
                        <div class="col-md-4 col-sm-12">
                            <div class="cart_totals float-md-right text-md-right">
                                <table class="float-md-right" width="100%">
                                    <tbody>
                                        <tr class="cart-subtotal">
                                            <th>قیمت کل</th>
                                            <td><span class="amount">20,000 تومان</span></td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>قیمت قابل پرداخت</th>
                                            <td>
                                                <strong><span class="amount">18,000 تومان</span></strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="wc-proceed-to-checkout">
                                    <a href="#">پرداخت</a>
                                </div>
                            </div>
                        </div>
                        <!-- Cart Totals End -->
                    </div>
                    <!-- Row End -->
                </form>
                <!-- Form End -->
            </div>
        </div>
        <!-- Row End -->
    </div>
</div>

