@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "Provinces";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


@(Html.Kendo().Grid<MahtaKala.Entities.Province>()
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Name);
        columns.Command(command => command.Custom("Edit").Click("editEntity")).Width(160);
    })
    .HtmlAttributes(new { style = "height: 550px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model =>
            {
                model.Id(p => p.Id);
            })
            .Read(read => read.Action("GetAllProvinces", "Admin"))
            .PageSize(20)
        )
)

<a href="/Admin/EditProvince/" class="btn btn-primary m-3">استان جدید</a>

<script>
    function editEntity(e) {
        window.location.href = '/Admin/EditProvince/' + this.dataItem($(e.currentTarget).closest("tr")).Id;
        return false;
    }
</script>
