@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


@(Html.Kendo().Grid<MahtaKala.Entities.User>()
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Username);
        columns.Bound(p => p.FirstName);
        columns.Bound(p => p.LastName);
        columns.Bound(p => p.MobileNumber);
        columns.Bound(p => p.EmailAddress);
        columns.Bound(p => p.NationalCode);
        columns.Command(command => command.Custom("Edit").Click("editUser")).Width(160);
    })
    .HtmlAttributes(new { style = "height: 550px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model =>
            {
                model.Id(p => p.Id);
            })
            .Read(read => read.Action("GetAllUsers", "Admin"))
            .PageSize(20)
        )
)

<a href="/Admin/EditUser/" class="btn btn-primary m-3">کاربر جدید</a>

<script>
    function editUser(e) {
        window.location.href = '/Admin/EditUser/' + this.dataItem($(e.currentTarget).closest("tr")).Id;
        return false;
    }
</script>
