@model List<MahtaKala.Entities.Category>
@{ 
    var data = Model.Where(a => a.ParentId == null);
}
<div class="col-xl-3 col-lg-4 d-none d-lg-block">
    <div class="vertical-menu mb-all-30">
        <nav>
            <ul class="vertical-menu-list" id="ulmenulist">

                @await Html.PartialAsync("CategoriesPartial", data.Take(10).ToList())

                @if (data.Count() > 10)
                {
                    <li id="cate-toggle" class="category-menu v-cat-menu">
                        <ul>
                            <li class="has-sub">
                                <a href="#">بیشتر</a>
                                <ul class="category-sub">
                                    @await Html.PartialAsync("CategoriesPartial", data.Skip(10).ToList())
                                </ul>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>
<!-- Vertical Menu End Here -->

