
@{
    ViewData["Title"] = "درباره ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about-us pt-30 pt-sm-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-desc">
                    <h3 class="mb-10 about-title">درباره ما</h3>
                    <p class="mb-20 justifycontent">
                        طرح مدیریت هدفمند تامین و توزیع اقلام اساسی (مهتا)، سامانه ای است که با استفاده از زیرساخت های موجود در کشور و اتصال آنها به یکدیگر امکان
                        توزیع کالا را به شکل هدفمند برای اقشار مختلف جامعه با استفاده حداکثری از زیرساخت های فناوری اطلاعات و ارتباطات فراهم می آورد. 
                   </p>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>
