
@{
    ViewData["Title"] = "تماس با ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumb-area mt-20">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li><a href="@Url.Content("~/home")">خانه</a></li>
                <li class="active"><a href="terms-conditons.html">تماس با ما</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="terms-conditions ptb-20">
    <div class="container">
        <div class="terms-content sidbar-style">
            <h2 class="tems-tile">تماس با ما</h2>
            <div class="single-term mb-20">
                <h3 class="term-mini-title">لطفا پیشنهادات، شکایات و درخواست های خود را با ما در میان بگذارید</h3>
                <p><br />
                    شماره تماس با پشتیبانی: <b dir="ltr">021-88656453 ، 021-88656454</b>
                </p>
                <p class="ptb-10">
                    آدرس ایمیل پشتیبانی :  <a href="mailto:info@mahtakala.ir">info@mahtakala.ir</a>  
                </p>
            </div>
        </div>
    </div>
</div>