@{
    ViewData["Title"] = "تحویل کالا";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="about-us pt-30 pt-sm-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about-desc">
                        <h3 class="mb-10 about-title">تحویل کالا </h3>
                        <p class="mb-20 justifycontent">
                            <b> شرایط تحویل: </b>
                            <br />
                            به هنگام خرید و بعد از پرداخت وجه، یک کد به عنوان "کد تحویل" به شماره موبایل شما (شماره موبایلی که در زمان ثبت نام در سامانه وارد نموده اید) پیامک می شود. در زمان دریافت کالا می بایست این کد را به متصدی تحویل کالا اعلام نمائید.
                            <br />
                            تأکید می گردد، کالا فقط به شخصی تحویل می گردد که این کد را دراختیار دارد.
                            درصورت مفقود شدن این کد امکان دریافت مجدد برای شما فراهم می باشد. می توانید وارد پروفایل خود شده و کد تحویل را مشاهد نمائید در غیر اینصورت لازم است با شماره پشتیبانی سایت تماس گرفته و درخواست ارسال مجدد کد را اعلام نمائید.
                            <br />
                            <br />
                            <b> زمان تحویل: </b>
                            <br />
                            سفارشاتی که تا قبل از ساعت 14 ثبت شده اند، همان روز در بازه زمانی 19 تا 21 به آدرس مشتری ارسال می گردند و سفارشاتی که بعد از ساعت 14 ثبت شده اند، روز بعد بین ساعات 11 تا 13 به دست مشتری خواهند رسید.
                        </p>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>


