@{
    ViewData["Title"] = "ضمانت اصل بودن کالا";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="about-us pt-30 pt-sm-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-desc">
                    <h3 class="mb-10 about-title">ضمانت اصل بودن کالا</h3>
                    <p class="mb-20 justifycontent">
                        <b> آیا کالاهایی که در سایت سایت من کالا بفروش می رسد اصل هستند؟</b>
                    </p>
                    <p class="mb-20 justifycontent">
                        با توجه به اینکه در سایت سایت من کالا غیر از کالاهایی که خود سایت من کالا فروشنده آن است ، فروشندگان دیگری هم فعالیت دارند (پلت فرم مارکت پلیس) ، برای حفظ تنوع کالائی و پاسخ به نیاز همه اقشار جامعه، تعدادی از کالاهای ارائه شده توسط تولید کننده اصلی تولید نشده است و با قیمتی پایین تر از قیمت اصلی بفروش میرسد، لذا به منظور شفافیت بیشتر و حفظ حقوق مشتریان در انتخاب بهتر ، این کالا ها با نشان غیر اصل مشخص شده اند.
                        بنابراین، تنها در صورتی که کالایی نشان غیر اصل نداشته باشد ، سایت من ‌کالا اصالت این کالاها را تضمین و همۀ آن‌ها را با گارانتی اصلی و معتبر عرضه می‌کند.

                    </p>
                    <p class="mb-20 justifycontent">
                        شرکت‌هایی که از طرف وزارت صنعت، معدن و تجارت به عنوان وارد کنندگان قانونی در کشور فعالیت می‌کنند و اسامی آنها در سایت این وزارت‌خانه ذکر شده، باید گارانتی و خدمات پس از فروش نیز ارائه کنند. بنابراین گارانتی اینگونه شرکت‌ها، گارانتی معتبر محسوب می‌شود. به این ترتیب مشتریانی که گارانتی‌های بی‌نام و نشان آنها را سردرگم کرده است، می‌توانند گارانتی‌های معتبر را از نامعتبر شناسایی کنند. تمامی محصولات ارائه شده در وب‌سایت سایت من کالا توسط نمایندگان رسمی آن برند در ایران گارانتی شده‌اند و با اخذ مجوزهای لازم، از مبادی قانونی وارد کشور شده‌اند. لازم به ذکر است کلیه کالاهای مشمول گارانتی پس از تحویل به خریدار و عدم استفاده از مهلت 7 روز ضمانت بازگشت، در صورتی که با هرگونه ایراد و اشکال اعم از نرم‌افزاری و سخت‌افزاری و سایر موارد مواجه شوند، بررسی مساله در حوزه صلاحیت شرکت گارانتی‌کننده مربوط است و سایت من‌کالا هیچگونه مسئولیتی نسبت به مشکلات مزبور نخواهد داشت.
                    </p>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>



