@{
    ViewData["Title"] = "حریم خصوصی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about-us pt-30 pt-sm-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-desc">
                    <h3 class="mb-10 about-title">حریم خصوصی </h3>
                    <p class="mb-20 justifycontent">

                    </p>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>



