@{
    ViewData["Title"] = "ضمانت اصل بودن کالا";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="about-us pt-30 pt-sm-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-desc">
                    <h3 class="mb-10 about-title">قوانین کالای مرجوعی</h3>
                    <p class="mb-20 justifycontent">
                        <b> قوانین مرجوعی کالا شامل چه مواردی است و چه قوانینی شامل کالاهای دیجیتال می‌شود؟</b>
                    </p>
                    <p class="mb-10 justifycontent">
                        قوانین مرجوعی کالا برای تمام کالاهایی که به صورت اینترنتی فروخته می شوند معتبر است و این کالاها طبق اعلام فروشنده باید سالم و در بسته بندی های درست و پلمپ شده به دست مشتریان می‌رسد. با این حال مشتریان هستند که از کالای ارسال شده رضایت ندارند و قصد دارند که فرآیند کالای مرجوعی در بعد از خرید اینترنتی خود انجام دهند. به عنوان مشتریان شما باید با قوانین مرجوعی کالا به خوبی آشنا باشید.
                    </p>
                    <p class="mb-20 justifycontent">
                        <b> این قوانین مرجوعی کالا در ایران عبارت‌اند از:</b>
                    </p>
                    <p class="mb-10 justifycontent">
                        1.	اگر کالای فروخته شده در هنگام تحویل به مشتری دارای آسیب دیدگی فیزیکی و ظاهری باشد و دچار عیب فیزیکی شده باشد. در این حالت مشتری می تواند کالا را ظرف مدت زمان مشخص شده در بسته بندی و کارتن اصلی خود به سایت فروشنده مرجوع کند. همچنین برای پیگیری امور باید با واحد فروش و خدمات پس از فروش سایت فروشنده هماهنگی های لازم را انجام دهد. دراین‌بین لازم است که کالا به همان شکل که بسته بندی شده است و بدون مخدوش کردن و از بین بردن پلمپ ان برای فروشنده مرجوع شود.
                    </p>
                    <p class="mb-10 justifycontent">
                        2.	کالای ارسال شده از نظر شکل و ظاهر و فیزیک و یا مشخصات با کالای خریداری شده در سایت مغایرت داشته باشد. در این صورت نیز خریدار می تواند کالا را به هماهنگی با واحد فروش و یا خدمات پس از فروش به فروشنده مرجوع کند و فروشنده باید دقیقاً و عیناً همان کالای خریداری شده با همان مشخصات را به خریدار تحویل دهد. در این حالت باید توجه شود که کاربر باید از کالا استفاده کند و باید کالا به همان صورت و شرایط اولیه به فروشنده بازگردانده شود.
                    </p>
                    <p class="mb-10 justifycontent">
                        3.  اگر کالا بر اثر حمل و نقل ناصحیح دچار آسیب دیدگی شده باشد خریدار می تواند کالا را تحویل نگرفته و یا آن را برای فروشنده مرجوع کند. این حالت تقریباً مشابه حالت اول است با این تفاوت که در هنگام حمل و نقل و یا حتی خروج کالا از ماشین های باربری ممکن است برای کالا اتفاقی می افتد و یا کالا دچار ایراد شود. در این حالت مشتری می تواند از دریافت کالا خودداری کند و کالا را به خریدار بازگرداند.
                    </p>
                    <p class="mb-20 justifycontent">
                        <b> قوانین مرجوعی کالا شامل چه مواردی است و چه قوانینی شامل کالاهای دیجیتال می‌شود؟</b>
                    </p>
                    <p class="mb-10 justifycontent">
                        1. یکی از مهم‌ترین قوانین مرجوعی کالا این است که کالایی که به مشتری تحویل داده می‌شود غیر اصل باشد و در این صورت مشتری می تواند نسبت به مرجوعی کالا اقدام کند. فروشنده باید نسبت به کالای و کیفیت آن تعهدات لازم را به خریدار اعطا نماید و از ارسال کالای غیر اصل به مشتریان خودداری نماید. کالای ارسال شده باید در بسته بندی، جنس، کیفیت و موارد دیگر دقیقاً مطابق نسخه اصلی و قرار داده شده بر روی سایت باشد.
                    </p>
                    <p class="mb-10 justifycontent">
                        2.	لغو سفارش مشتری نیز یکی دیگر از بخش های قوانین مرجوعی کالا می باشد. اگر مشتری به هر دلیل نسبت به لغو سفارش خود اقدام نماید و کالا از قبل ابری مشتری ارسال شده باشد مشتری باید نسبت به مرجوعی کالا به خریدار اقدام نماید. بدیهی است که اگر مشتری اقدام به لغو سفارش خود نماید باید این موضوع را به کارشناسان فروش و مسئول خدمات پس از فروش اعلام کنید تا آن‌ها نسبت به مرجوعی کالا اقدام نمایند و بعد از برگشت کالا به انبار نسبت به بازپرداخت هزینه خرید انلاین اقدامات لازم صورت گیرد.
                    </p>
                    <p class="mb-10 justifycontent">
                        3.	ارسال به موقع سفارش به مشتریان یکی دیگر از موارد و قوانین مرجوعی کالا برای مشتریان است و در هنگام سفارش و خرید آنلاین مدت زمان ارسال و تحویل کالا به مشتری طبق روال عادی و در روز های عادی به مشتری اعلام می‌شود اگر این سفارش با تاخیر زیاد به دست مشتری برسد مشتری می تواند با توجه به تاخیر در دریافت کالا نسبت به مرجوع کردن آن اقدام کند. فرآیند مرجوعی کالا در این حالت نیز باید به اطلاعات کارشناسان فروش و مسئول خدمات پس از فروش سایت فروشنده برسد تا اقدامات لازم برای مرجوعی کالا انجام شود.
                    </p>
                    <p class="mb-10 justifycontent">
                        4.	یکی دیگر از قوانین مرجوعی کالا که بسیار مهم است این است که کالای فروخته شده اگر به عنوان کالای نو به مشتری تحویل داده می‌شود حتماً نو باشد. در صورتی که به کاربر کالای دسته دوم و کارکرده تحویل داده شود مشتری می تواند فرآیند مرجوعی کالا را پیگیری و نسبت به مرجوع کردن کالای دریافت شده اقدام نماید سایت فروشنده نیز موظف است ضمن دریافت کالای مرجوع شده نسبت به تهیه و ارسال کالای نو و دسته اول به مشتری اقدام نماید.
                    </p>
                    <p class="mb-10 justifycontent">
                        5.	 یکی دیگر از موارد مهم در قوانین مرجوعی کالا عدم وجود گارانتی و یا مخدوش بودن گارانتی دستگاه ارسال شده است. در صورتی که کاربر متوجه شود که دستگاه برخلاف اعلام سایت فروشنده فاقد گارانتی معتبر بوده و یا گارانتی ارسال شده مخدوش باشد کاربر می تواند به راحتی کالای دریافت شده را به سایت فروشنده مرجوع کند. مرجوعی کالا در این حالت باید با مرکز فروش سایت فروشنده هماهنگ شود و کالا به سایت فروشنده مرجوع داده شود. سایت فروشنده نیز موظف است نسبت به دریافت کالای مرجوعی اقدام نموده و یک کالا با گارانتی اصل و معتبر و سالم برای مشتریان ارسال نماید.
                    </p>
                    <p class="mb-10 justifycontent">
                        6.	بالا بودن قیمت فروش در سایت نسبت به قیمت درج شده بر روی جعبه کالا نیز یکی دیگر از موارد قانون مرجوعی کالا در ایران است. در صورتی که قیمت درج شده بر روی کارتن کمتر از قیمت درج شده در سایت در هنگام خرید کالا باشد مشتری می تواند کالای خریداری شده را تحویل نگرفته و یا در صورت تحویل با اعلام به کارشناس فروش سایت نسبت به مرجوع کردن آن اقدام نماید.
                    </p>
                    <p class="mb-20 justifycontent">
                        <b> قوانین کالای مرجوعی در فروشگاه های اینترنتی</b>
                    </p>
                    <p class="mb-10 justifycontent">
                        با توجه به اینکه خدمات فروش آنلاین کالا ها در ایران در سال های اخیر رشد بسیار بالایی پیدا کرده است این موارد را می توان عمده ترین قوانین مرجوعی کالا در ایران داست. این قوانین بر اساس قوانین تحویل کالا به مشتریان تهیه شده اند. با توجه به متنوع بوده سایت های فروش کالا ها در اینترنت و تنوع بالای کالاهای فروش آنلاین این قوانین می تواند کمتر و یا بیشتر از این موارد. باشد. قوانین بیشتر به معنی ارزش و تکریم مشتری از سوی سایت فروشنده است. با این حال شما به عنوان مشتریان سایت‌های خرید آنلاین باید همواره در خرید آنلاین کالاهای خود دقت نمایید تا کالای مناسب و با کیفیت و سالم را دریافت نمایید
                    </p>
                    <p class="mb-20 justifycontent">
                        <b> سوالات متداول</b>
                    </p>
                    <p class="mb-10 justifycontent">
                        <div >	آیا قوانین مرجوعی کالا شامل کالاهای دیجیتال هم می‌شود؟</div>
                        <div class="mb-10">قوانین مرجوعی کالا شامل تمام کالاهای فروخته شده به صورت اینترنتی می‌شود. فرقی نمی‌کند که کالا دیجیتالی باشد یا فیزیکی و فروشنده نسبت به ارائه کالای اصل و سالم به مشتریان متعهد است.</div>
                    </p>
                    <p class="mb-10 justifycontent">
                        <div>	آیا قوانین مرجوعی کالاهای دیجیتالی شامل کالاهایی مانند فیلترشکن ها نیز می‌شود؟</div>
                        <div class="mb-10">خرید و فروش فیلترشکن ممنوع بوده و فروش و یا خرید این نرم‌افزارها به عنوان کالای دیجیتال جرم محسوب می‌شود. به همین دلیل این کالا ها شامل قوانین مرجوعی کالا نمی‌شوند.</div>
                    </p>
                    <p class="mb-10 justifycontent">
                        <div>	مرجوعی کالا از خریدار به فروشنده چه مدت زمان می‌برد؟</div>
                        <div class="mb-10">بر اساس نوع کالای خریداری شده ممکن است فرایند مرجوع شده کالا به سایت و تحویل آن به انبار بین 48 ساعت تا بیش از 72 ساعت زمان ببرد در این مدت مشتری می تواند ضمن تماس با مسئول فروش از روند مرجوعی کالا نیز مطلع شود.</div>
                    </p>
                    <p class="mb-10 justifycontent">
                        <div>	اگر کالایی مرجوع شود پول خریدار به او برگشت داده می‌شود؟</div>
                        <div class="mb-10">در صورتی که کالای خریداری شده به فروشنده مرجوع داده شود و فروشنده نیز کالا را دریافت نماید خریدار می تواند نسبت به دریافت وجه خود اقدام نماید و فروشنده موظف است در مدت زمان کوتاهی نسبت به واریز وجه به خریدار اقدام نماید.</div>
                    </p>
                    <p class="mb-20 justifycontent">
                        <b> لازم به ذکر است:</b>
                    </p>
                    <p class="mb-10 justifycontent">
                        1.	طبق آيين نامه اجرايي ماده ٣٨ قانون تجارت الكترونيك مواد غذايي و فاسد شدني به هيچ عنوان  بعد از فروش پس گرفته نمی شود.
                    </p>
                    <p class="mb-10 justifycontent">
                        2.	طبق آيين نامه اجرايي ماده   ٣٧ قانون تجارت الكترونيك  در هر معامله از راه دور مصرف کننده باید حداقل هفت روز کاری برای انصراف (حق انصراف)  از قبول خود بدون تحمل جریمه و یا ارایه دلیل داشته باشد. تنها هزینه تحمیلی بر مصرف کننده هزینه باز پس فرستادن کالا خواهد بود.
                    </p>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>




