@{
    ViewData["Title"] = "7 روز ضمانت بازگشت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="about-us pt-30 pt-sm-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-desc">
                    <h3 class="mb-10 about-title">7 روز ضمانت بازگشت</h3>
                    <p class="mb-20 justifycontent">
                        <b> کالا را چطور ارسال کنید؟</b>
                        <br />
                        - شما می توانید کالای خریداری شده را تا 7 روز کاری (با توجه به قوانین کالای مرجوعی) عودت نمائید.
                        <br />
                        - لطفاً قبل از هر اقدامی با کارشناسان پشتیبانی خدمات پس از فروش تماس بگیرید.
                        <br />
                        - از ارسال کالا بدون هماهنگی با خدمات پس از فروش مهتا‌کالا جداً، خودداری کنید.
                        <br />
                        - برای ارسال، باید کالا در جعبه یا کارتن اصلی خود به ‏خوبی بسته‌بندی شود و لوازم جانبی و همه اقلام همراه مانند کابل، ریموت، باطری، دفترچه راهنما، کارت گارانتی، کارت بیمه، بند و قطعات بسته‌بندی به همراه کالای اصلی ارسال شود.
                        <br />
                        - برچسب‌زدن یا نوشتن توضیحات، آدرس یا هر مورد دیگری روی کارتن یا جعبه اصلی کالا و یا پاره و مخدوش کردن آن، امکان استفاده از ضمانت بازگشت را از بین خواهد برد. (در صورت لزوم، توضیحات خود را پشت فاکتور خرید یا قطعه کاغذ جداگانه‌ای بنویسید.)
                        <br />
                        - درصورت ارسال با پست پیشتاز، عکس و تصویری از رسید پستی تهیه و به آدرس  Info@mahtakala.ir ایمیل کنید.
                        <br />
                        - اگر کالا دارای رمز عبور (Password)، آی دی، اپل آی دی (id)یا الگو (pattern) است، لازم است توسط مشتری برداشته شود، تا کارشناسان مهتا‌کالا امکان تست آن را داشته باشند.
                    </p>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>

