 <!-- Slider Area Start Here -->
<div class="col-xl-9 col-lg-8 slider_box">
    <div class="slider-wrapper theme-default">
        <!-- Slider Background  Image Start-->
        <div id="slider" class="nivoSlider">
            <a href="#"><img src="~/img/slider/9.jpg" data-thumb="img/slider/9.jpg" alt="" title="#htmlcaption" /></a>
        </div>
        <!-- Slider Background  Image Start-->
    </div>
</div>
<!-- Slider Area End Here -->
