@model List<IdValModel> 
<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                @foreach (var item in Model)
                {
                    <li><a href="@Url.Content($"~/home/category?id={item.Id}")">@item.Title</a></li>
                }

            </ul>
        </div>
    </div>
</div>
