@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-shop-page pt-30 pb-100 ptb-sm-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1">
                @await Component.InvokeAsync("ProfileInfo")
            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                @RenderBody()
            </div>
        </div>
    </div>
</div>


