@model IList<MahtaKala.Entities.Category>
@foreach (var item in Model)
{

    <li class="@(item.Children?.Any() ?? false?"has-sub":"")">
        <a class="@(item.Disabled?"DisabledLi":"")" href="@Url.Content(item.Disabled?"#":"~/home/category?id="+item.Id)">@item.Title</a>
        @if (item.Children?.Any() ?? false)
        {
            <ul class="category-sub">
                @await Html.PartialAsync("CategoriesMobilePartial", item.Children)
            </ul>
        }
    </li>
}
