@{
    ViewData["Title"] = "پروفایل کاربر";
    Layout = "~/Views/Shared/_Profile.cshtml";
}
@if ((bool)ViewData["EditRequired"])
{
    <div class="alert alert-danger" role="alert">
        پروفایل شما کامل نیست.
        برای ویرایش پروفایل به صفحه <a href="@Url.Content("~/profile/profileedit")" class="alert-link">ویرایش پروفایل </a>مراجعه نمایید.
    </div>
}
<input type="hidden" id="EditRequired" name="EditRequired" value="@ViewData["EditRequired"]">
