@font-face {
    font-family: "IRANRounded";
    src: url("../fonts/IRAN-Rounded.eot"); /* IE9 Compat Modes */
    src: url("../fonts/IRAN-Rounded.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/IRAN-Rounded.otf") format("opentype"), /* Open Type Font */
    url("../fonts/IRAN-Rounded.svg") format("svg"), /* Legacy iOS */
    url("../fonts/IRAN-Rounded.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/IRAN-Rounded.woff") format("woff"), /* Modern Browsers */
    url("../fonts/IRAN-Rounded.woff2") format("woff2"); /* Modern Browsers */
    font-weight: bold;
}

@font-face {
    font-family: "IRANSansFaNum";
    src: url("../fonts/IRANSansFaNum.eot"); /* IE9 Compat Modes */
    src: url("../fonts/IRANSansFaNum.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/IRANSansFaNum.otf") format("opentype"), /* Open Type Font */
    url("../fonts/IRANSansFaNum.svg") format("svg"), /* Legacy iOS */
    url("../fonts/IRANSansFaNum.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/IRANSansFaNum.woff") format("woff"), /* Modern Browsers */
    url("../fonts/IRANSansFaNum.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
