@model IEnumerable<Product>
<div id="grid-view" class="tab-pane fade show active">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                @await Html.PartialAsync("SingleProduct", item)
            </div>
        }
    </div>
</div>
<partial name="_ProductPagedList" />

