@model List<Product>
@{
    ViewData["Title"] = "جستجو";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li><a href="@Url.Content("~/home/")">خانه</a></li>
                <li class="active"><a href="#">دسته بندی</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="main-shop-page pt-30 pb-100 ptb-sm-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 order-1 order-lg-2">
                <div class="main-categorie mb-all-40">
                    <div class="tab-content fix" id="ajax-show-list">
                        <partial name="_ProductList" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>