@{
    ViewData["Title"] = "فروشگاهی به وسعت ایران";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Hidden("EditRequired", (object)ViewBag.EditRequired)
<div class="main-page-banner pb-30 off-white-bg">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("CategoryList")
            @await Component.InvokeAsync("Slider")
        </div>
    </div>
</div>
@*@await Component.InvokeAsync("HotDeals")*@
@await Component.InvokeAsync("ProductGroup")

@*<div class="big-banner mt-100 pb-85 mt-sm-60 pb-sm-45">
        <div class="container banner-2">
            <div class="banner-box">
                <div class="col-img">
                    <a href="#"><img src="~/img/banner/banner3-1.jpg" alt="banner 3"></a>
                </div>
                <div class="col-img">
                    <a href="#"><img src="~/img/banner/banner3-2.jpg" alt="banner 3"></a>
                </div>
            </div>
            <div class="banner-box">
                <div class="col-img">
                    <a href="#"><img src="~/img/banner/banner3-3.jpg" alt="banner 3"></a>
                </div>
            </div>
            <div class="banner-box">
                <div class="col-img">
                    <a href="#"><img src="~/img/banner/banner3-4.jpg" alt="banner 3"></a>
                </div>
                <div class="col-img">
                    <a href="#"><img src="~/img/banner/banner3-5.jpg" alt="banner 3"></a>
                </div>
            </div>
            <div class="banner-box">
                <div class="col-img">
                    <a href="#"><img src="~/img/banner/banner3-6.jpg" alt="banner 3"></a>
                </div>
            </div>
            <div class="banner-box">
                <div class="col-img">
                    <a href="#"><img src="~/img/banner/banner3-7.jpg" alt="banner 3"></a>
                </div>
                <div class="col-img">
                    <a href="#"><img src="~/img/banner/banner3-8.jpg" alt="banner 3"></a>
                </div>
            </div>
        </div>
    </div>*@
<br />
<br />
@await Component.InvokeAsync("LatestProducts")
@await Component.InvokeAsync("BestSellers")



<div class="support-area bdr-top">
    <div class="container">
        <div class="d-flex flex-wrap text-center">
            <div class="single-support">
                <div class="support-icon">
                    <i class="lnr lnr-gift"></i>
                </div>
                <div class="support-desc">
                    <h6>ضمانت اصل بودن کالا</h6>
                </div>
            </div>
            <div class="single-support">
                <div class="support-icon">
                    <i class="lnr lnr-rocket"></i>
                </div>
                <div class="support-desc">
                    <h6>7 روز ضمانت بازگشت</h6>
                </div>
            </div>
            <div class="single-support">
                <div class="support-icon">
                    <i class="lnr lnr-lock"></i>
                </div>
                <div class="support-desc">
                    <h6>پرداخت امن</h6>
                </div>
            </div>
            <div class="single-support">
                <div class="support-icon">
                    <i class="lnr lnr-enter-down"></i>
                </div>
                <div class="support-desc">
                    <h6>تحویل در محل</h6>
                </div>
            </div>
            <div class="single-support">
                <div class="support-icon">
                    <i class="lnr lnr-users"></i>
                </div>
                <div class="support-desc">
                    <h6>پشتیبانی 24 ساعته</h6>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</div>
<script type='text/javascript'>
    $(function () {
        if (@ViewBag.EditRequired.ToString().ToLower()) {
            Command: toastr["error"]('<a href="@Url.Content("~/profile/profileedit")">برای ویرایش پروفایل کلیک کنید</a>', 'پروفایل شما کامل نیست')

                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-full-width",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "10000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
        }
    });
</script>