<h3 class="mb-10 ptb-30 custom-title">به سایت من کالا خوش آمدید</h3>
<p class="mb-10"><strong class="product-size">حساب کاربری شما در سایت من کالا ساخته شد</strong></p>
<form>
    <a href="@Url.Content("~/home/")" class="customer-btn">ادامه</a>
    <br />
    <br />
    <a href="#" class="customer-btn">تکمیل حساب کاربری</a>
    <br /> <br />
</form>


