@model List<Product>
<div class="arrivals-product pb-85 pb-sm-45">
    <div class="container">
        <div class="main-product-tab-area">
            <div class="tab-menu mb-25">
                <div class="section-ttitle paddReigt" >
                    <h2>جدیدترین محصولات</h2>
                </div>
            </div>

            <div class="tab-content">
                <div id="fshion" class="tab-pane fade show active">

                    <div class="electronics-pro-active owl-carousel" dir="ltr">
                        @foreach (var item in Model)
                        {
                            @await Html.PartialAsync("ProductView", item)
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>