@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "لیست شهرها";
    Layout = "~/Views/Shared/_Staff.cshtml";
}


@(Html.Kendo().Grid<MahtaKala.Entities.City>()
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Id);
        columns.Bound(p => p.Name);
        columns.Bound(p => p.Province.Name);
        columns.Bound(p => p.IsCenter).ClientTemplate("#=IsCenter?'بلی':'خیر'#");
        columns.Command(command => command.Custom("Edit").Text("ویرایش").Click("editEntity")).Width(160);
    })
    .ToolBar(toolbar =>
    {
        toolbar.ClientTemplateId("GridToolbarTemplate");
    })
    .HtmlAttributes(new { style = "height: 550px;" })
    .Scrollable()
    .Groupable()
       .Sortable().Filterable()
    .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .PageSizes(new int[] { 5, 10, 20, 50 })
        .ButtonCount(5))
    .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model =>
        {
            model.Id(p => p.Id);
        })
        .Read(read => read.Action("GetAllCities", "Staff"))
        .PageSize(20)
    )
)


<script id="GridToolbarTemplate" type="text/x-kendo-template">
    <div class="refreshBtnContainer">
        <a href="@Url.Content("~/Staff/City")" class="k-pager-refresh k-link k-button">
            <span class="k-icon k-i-add"></span>
            جدید
        </a>
    </div>
</script>

<script>
    function editEntity(e) {
        window.location.href = '/Staff/City/' + this.dataItem($(e.currentTarget).closest("tr")).Id;
        return false;
    }
</script>
