@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "لیست کاربران";
    Layout = "~/Views/Shared/_Staff.cshtml";
}


@(Html.Kendo().Grid<MahtaKala.Entities.User>()
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Username);
        columns.Bound(p => p.FirstName);
        columns.Bound(p => p.LastName);
        columns.Bound(p => p.MobileNumber);
        columns.Bound(p => p.EmailAddress);
        columns.Bound(p => p.NationalCode);
        columns.Command(command => command.Custom("ویرایش").Click("editUser")).Width(160);
        columns.Command(command => command.Custom("حذف").Click("RemoveUser")).Width(90);
    })
    .HtmlAttributes(new { style = "height: 550px;" })
    .ToolBar(toolbar =>
    {
        toolbar.ClientTemplateId("GridToolbarTemplate");
    })
    .Scrollable()
    .Groupable()
    .Sortable()
    .Filterable()
    .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
    .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model =>
        {
            model.Id(p => p.Id);
        })
        .Read(read => read.Action("GetAllUsers", "Staff"))
        .PageSize(20)
    )
)

<script id="GridToolbarTemplate" type="text/x-kendo-template">
    <div class="refreshBtnContainer">
        <a href="@Url.Content("~/Staff/User")" class="k-pager-refresh k-link k-button">
            <span class="k-icon k-i-add"></span>
            جدید
        </a>
    </div>
</script>

@section js{
    <script>
        function editUser(e) {
            window.location.href = '/Staff/User/' + this.dataItem($(e.currentTarget).closest("tr")).Id;
            return false;
        }


        function RemoveUser(e) {
            e.preventDefault();
            var id = this.dataItem($(e.currentTarget).closest("tr")).Id;
            Swal.fire({
                title: "از حذف این آیتم مطمئن هستید؟",
                text: "در صورتی که برای این آیتم رکوردی درج شده باشد حذف می شود و این کار غیر قابل بازگشت می باشد",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "بلی مطمئنم",
                cancelButtonText: "انصراف می دم"
            }).then(result => {
                if (result.value) {

                    $.ajax({
                        url: '@Url.Content("~/Staff/UserDestroy/")' + id,
                        dataType: "json",
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        cache: false,
                        success: function (data) {

                            if (data.success) {
                                var grid = $("#Grid").data("kendoGrid");
                                grid.dataSource.read();
                                Swal.fire("حذف رکورد با موفقیت انجام شد", "", "success");
                            }
                            else {
                                Swal.fire(data.msg, "", "warning");
                            }
                        },
                        error: function (xhr) {
                            Swal.fire("خطایی  در حذف اطلاعات اتفاق افتاده است", "", "warning");
                        }
                    });
                }
            });
        }
    </script>
}
