@model int
<a href="@Url.Content("~/cart/")" id="cartshop"><i class="lnr lnr-cart"></i><span class="my-cart"><span class="total-pro" id="cart-status">@Model</span></span></a>
<ul class="ht-dropdown cart-box-width">
    <li id="cart-block-content">
    </li>
</ul>